@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.button {
  background-color: #4f46e5;
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 10px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
